<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Authors</title>
</head>
<body>
    <div>
        <h2>Author List</h2>
        <div th:if="${not #lists.isEmpty(authors)}">
            <table class="table table-striped">
                <tr>
                    <th>Name</th>
                </tr>
                <tr th:each="author : ${authors}">
                    <td th:text="${author.name}">Name</td>
                    <td><a th:href="${'/author/' + author.id}">View</a></td>
                    <td><a th:href="${'/author/edit/' + author.id}">Edit</a></td>
                    <td><a th:href="${'/author/delete/' + author.id}">Delete</a></td>
                </tr>
            </table>
            <div class="table-pagination">
                <lable th:class="${authorPage.number eq 0} ? 'disabled' : ''">
                    <a th:if="${not authorPage.first}" th:href="@{${'/authors'}(page=${authorPage.number-1},size=${authorPage.size})}">Previous</a>
                    <a th:if="${authorPage.first}" href="javascript:void(0);">Previous</a>
                </lable>
                <lable th:each="pageNo : ${#numbers.sequence(0, authorPage.totalPages - 1)}" th:class="${authorPage.number eq pageNo}? 'active' : ''">
                    <a th:if="${authorPage.number eq pageNo}" href="javascript:void(0);">
                        <span th:text="${pageNo + 1}"></span>
                    </a>
                    <a th:if="${not (authorPage.number eq pageNo)}" th:href="@{${'/authors'}(page=${pageNo},size=${authorPage.size})}">
                        <span th:text="${pageNo + 1}"></span>
                    </a>
                </lable>
                <lable th:class="${authorPage.number + 1 ge authorPage.totalPages} ? 'disabled' : ''">
                    <a th:if="${not authorPage.last}" th:href="@{${'/authors'}(page=${authorPage.number+1},size=${authorPage.size})}">Next</a>
                    <a th:if="${authorPage.last}" href="javascript:void(0);">Next</a>
                </lable>
            </div>
        </div>
    </div>
</body>
</html>