<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Author Details</title>
</head>
<body>

<div class="container">
    <h2>Author Details</h2>
    <div>
        <form class="form-horizontal">
            <div class="form-group">
                <label th:text="${'Name: ' + author.name}"></label>
            </div>
            <div th:if="${not #lists.isEmpty(author.books)}">
                <h2>Book List</h2>
                <table class="table table-striped">
                    <tr>
                        <th>Title</th>
                    </tr>
                    <tr th:each="book : ${author.books}">
                        <td><a th:text="${book.title}" th:href="${'/book/' + book.id}"></a></td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>

</body>
</html>