<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Book Details</title>
</head>
<body>

<div class="container">
    <h2>Book Details</h2>
    <div>
        <form class="form-horizontal">
            <div class="form-group">
                <label th:text="${'Title: ' + book.title}"></label>
            </div>
            <div class="form-group">
                <label>Author: </label>
                <a th:text="${book.author.name}" th:href="${'/author/' + book.author.id}"></a>
            </div>
        </form>
    </div>
</div>

</body>
</html>