<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Books</title>
</head>
<body>
    <div>
        <h2>Book List</h2>
        <div th:if="${not #lists.isEmpty(books)}">
            <table class="table table-striped">
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                </tr>
                <tr th:each="book : ${books}">
                    <td th:text="${book.title}">Title</td>
                    <td><a th:text="${book.author.name}" th:href="${'/author/' + book.author.id}"></a></td>
                    <td><a th:href="${'/book/' + book.id}">View</a></td>
                    <td><a th:href="${'/book/edit/' + book.id}">Edit</a></td>
                    <td><a th:href="${'/book/delete/' + book.id}">Delete</a></td>
                </tr>
            </table>
            <div class="table-pagination">
                <lable th:class="${bookPage.number eq 0} ? 'disabled' : ''">
                    <a th:if="${not bookPage.first}" th:href="@{${'/books'}(page=${bookPage.number-1},size=${bookPage.size})}">Previous</a>
                    <a th:if="${bookPage.first}" href="javascript:void(0);">Previous</a>
                </lable>
                <lable th:each="pageNo : ${#numbers.sequence(0, bookPage.totalPages - 1)}" th:class="${bookPage.number eq pageNo}? 'active' : ''">
                    <a th:if="${bookPage.number eq pageNo}" href="javascript:void(0);">
                        <span th:text="${pageNo + 1}"></span>
                    </a>
                    <a th:if="${not (bookPage.number eq pageNo)}" th:href="@{${'/books'}(page=${pageNo},size=${bookPage.size})}">
                        <span th:text="${pageNo + 1}"></span>
                    </a>
                </lable>
                <lable th:class="${bookPage.number + 1 ge bookPage.totalPages} ? 'disabled' : ''">
                    <a th:if="${not bookPage.last}" th:href="@{${'/books'}(page=${bookPage.number+1},size=${bookPage.size})}">Next</a>
                    <a th:if="${bookPage.last}" href="javascript:void(0);">Next</a>
                </lable>
            </div>
        </div>
    </div>
</body>
</html>