<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Book</title>
</head>
<body>

<div class="container">
    <h2>Book Details</h2>
    <div>
        <form class="form-horizontal" th:object="${book}" th:action="@{/book}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <div class="form-group">
                <label class="col-sm-2 control-label">Title:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{title}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Author:</label>
                <div>
                    <select class="form-control" id="author" name="author">
                        <option th:each="author : ${authors}"
                                th:value="${author.id}"
                                th:text="${author.name}"
                                th:selected="${author.name.equals(book.author.name)}"/>
                    </select>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>