<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Error</title>
</head>
<body>
<div>
    <h2>Error</h2>
    <p th:text="${'Message: ' + msg}"></p>
    <p th:text="${'URL: ' + url}"></p>
</div>
</body>
</html>