<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Test Web Appication</title>
</head>
<body>
<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{/authors}">Authors</a></li>
                        <li><a href="#" th:href="@{/author/new}">Create Author</a></li>
                        <li><a href="#" th:href="@{/books}">Books</a></li>
                        <li><a href="#" th:href="@{/book/new}">Create Book</a></li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>
</div>
</body>
</html>